<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Control Access</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isAdmin" [routerLinkActive]="['active']" [routerLink]="['/users']">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/access']">Accesos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isAdmin" [routerLinkActive]="['active']" [routerLink]="['/reports']">Reportes</a>
        </li>
        <li class="nav-item" *ngIf="isLogged">
          <a class="nav-link" (click)="logout()">Salir</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
